.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box
}

.glide * {
    box-sizing: inherit
}

.glide__track {
    overflow: hidden
}

.glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform
}

.glide__slides--dragging {
    user-select: none
}

.glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

.glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.glide__arrows {
    -webkit-touch-callout: none;
    user-select: none
}

.glide__bullets {
    -webkit-touch-callout: none;
    user-select: none
}

.glide--rtl {
    direction: rtl
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1
}

.glide__arrow:focus {
    outline: none
}

.glide__arrow:hover {
    border-color: white
}

.glide__arrow--left {
    left: 2em
}

.glide__arrow--right {
    right: 2em
}

.glide__arrow--disabled {
    opacity: 0.33
}

.glide__bullets {
    position: absolute;
    z-index: 2;
    bottom: 2em;
    left: 50%;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%)
}

.glide__bullet {
    background-color: rgba(255, 255, 255, 0.5);
    width: 9px;
    height: 9px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin: 0 0.25em
}

.glide__bullet:focus {
    outline: none
}

.glide__bullet:hover,
.glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5)
}

.glide__bullet--active {
    background-color: white
}

.glide--swipeable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab
}

.glide--dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing
}

html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: #000;
    background-color: #f2f2f2;
    font-family: 'PP Neue Montreal', arial, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    overflow-x: hidden;
    cursor: url('../images/mouse.svg'),auto;
    height: 100%;
}

body a {
    color: inherit
}

h1,
h2,
h3,
h4,
p {
    text-align: start;
    padding: 0;
    margin: 0;
    font-weight: normal
}

nav {
    pointer-events: all;
    position: fixed;
    top: 1rem;
    right: 2rem;
    font-family: 'PP Neue Montreal', arial, sans-serif;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.375rem;
    margin-left: 1.5rem;
}
nav ul li a {
    display: block;
    padding: 0 0.625rem;
    cursor: inherit;
}
nav ul li a:hover {
    color: #fff;
    background-color: #000;
}


.hidden {
    display: none;
    height: 0;
    width: 0
}

.credits {
    display: none
}

.toggle-contact {
    cursor: pointer
}

.fixed {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    pointer-events: none
}

.fixed header {
    pointer-events: all;
    position: fixed;
    top: 1rem;
    left: 2rem;
    display: none;
}

.fixed header a {
    text-decoration: none;
    cursor: inherit;
}

.fixed header h1.title {
    display: block;
    position: relative;
    font-weight: lighter;
    font-size: 3vw;
    letter-spacing: -.05em;
    line-height: 1em
}

.fixed header h1.title sup {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .5vw;
    letter-spacing: -.05em;
    line-height: 2.5em
}

.fixed footer {
    pointer-events: all;
    position: fixed;
    bottom: 1rem;
    right: 2rem
}

.fixed footer a {
    color: #000
}

.fixed footer div.contact {
    font-size: 1.2vw;
    letter-spacing: -.05em;
    line-height: 1em;
    text-align: end;
    text-decoration: underline
}

.scroller {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2.1875rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 100px;    
}

.progress-container {
    position: absolute;
    bottom: 1.875rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 941px;
    height: 4px;
    background-color: rgba(30, 0, 30, 0.2);
}
.progress-container .oval {
    margin-top: -6px;
    position: absolute;
}
.progress-bar {
    height: 4px;
    background-color: rgba(30, 0, 30, 1);
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
  }

@media (orientation: portrait) {
    .main {
        display: none !important
    }
}

.rotate {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center
}

.rotate img {
    position: relative;
    max-height: 40vh;
    max-width: 40vw;
    width: auto
}

@media (orientation: portrait) {
    .rotate {
        display: flex !important
    }
}

@media (orientation: portrait) {
    footer {
        display: none !important
    }
}

.main .slide {
    position: sticky;
    height: 100vh;
    top: 0;
    margin-top: 10vh
}

.main .slide:first-child {
    margin-top: 0
}

.main .fragment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.main #d1 .fragment {
    box-sizing: border-box;
    width: 100vw;
    padding: 0vh 0vw;
    max-width: 100%;
    height: 100vh
}

.main #d1 .fragment h2.claim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 82vw;
    padding: 0vh 0vw;
    max-width: 100%;
    font-size: 4.8125rem;
    font-weight: 700;
    line-height: .75em;
    text-align: center;
    height: 0%;
}

.main #d1 .fragment h2.claim img {
    width: 654px;
    height: 115px;
    max-width: 90%;
}

.main #d1 .fragment div {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    left: 0;
    right: 0;
    height: 10vh;
    max-height: 6rem
}

.main #d1 .fragment div img {
    height: 100%;
    width: auto
}

.main #d2 .fragment {
    color: #DDAF94;
    background-color: #FFD7EB;
    box-sizing: border-box;
    width: 70vw;
    padding: 2vh 2.7vw;
    width: 1060px;
    word-break: break-all;
}

.main #d2 .fragment h2.claim2 {
    font-size: 10rem;
    line-height: .8em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.main #d2 .fragment h2.claim2 span {
    opacity: 0;
}

.main #d2 .fragment2 {
    position: absolute;
    top: 25%;
    left: 50%;    
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    word-break: keep-all;
    min-width: 100%;
}
.main #d2 .fragment2 h2.claim3 {
    color: #73A073;
    font-family: 'PP Editorial New';
    font-style: normal;
    font-weight: 400;
    font-size: 420px;
    letter-spacing: -10px;
    left: 0;
    right: 0;
    top: 0;
    height: 420px;
    width: 5301px;
    position: absolute;
}

.main #d3 .fragment {
    position: absolute;
    /*left: 5%;
    right: 5%;*/
    top: 9.68%;
    bottom: 9.68%;
    width: 90vw;
    background: #1E001E;
    max-height: 400px;
    margin: auto;
}


.main #d4 .fragment {
    color: #000;
    background-color: #CDCDCD;
    position: absolute;
    display: none;

    width: 66vw;
    padding: 10vh 5vw;
    max-width: 938px;
    max-height: 521px;
    top: 20%;
    bottom: 20%;
}



.main #d5 .fragment {
    color: #000;
    background-color: #e7e7e7;
    box-sizing: border-box;
    width: 70vw;
    padding: 8vh 5vw;
    max-width: 100%;
    top: 51%;
    left: 51%
}

.main #d5 .fragment p {
    font-size: 2.1vw;
    letter-spacing: -.06em;
    line-height: 1.2em;
    margin-block-start: 1em;
    margin-inline-end: 4.7em
}

.main #d5 .fragment p:first-of-type {
    margin-block-start: 0
}

.main #d5 .fragment p:first-of-type::before {
    display: block;
    content: '';
    margin-bottom: .2em;
    width: 2.5em;
    height: .2em;
    background-color: #000
}

.main #d5 .fragment .bg {
    font-size: 12vw;
    letter-spacing: -.06em;
    line-height: .8em;
    position: absolute;
    z-index: -1;
    right: 4vw;
    top: 50%;
    text-align: start;
    color: #fff;
    transform: translateY(-50%)
}

.main #d5 .fragment .bg span {
    display: block;
    position: relative
}

.main #d5 .fragment .bg sup {
    position: absolute;
    font-size: 18%;
    letter-spacing: 0em;
    top: 0.1em;
    right: 0;
    line-height: 1em
}

.main #d6-1 .fragment,
.main #d6-2 .fragment {
    color: #fff;
    background-color: #000;
    box-sizing: border-box;
    width: 90vw;
    padding: 5vh 5vw;
    max-width: 100%
}

.main #d6-1 .fragment div.content,
.main #d6-2 .fragment div.content {
    display: flex
}

.main #d6-1 .fragment div.column,
.main #d6-2 .fragment div.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1em
}

.main #d6-1 .fragment div.column:first-of-type::before,
.main #d6-2 .fragment div.column:first-of-type::before {
    display: block;
    content: '';
    margin-bottom: .2em;
    width: 8em;
    height: .45em;
    background-color: #fff
}

.main #d6-1 .fragment h2,
.main #d6-2 .fragment h2 {
    font-size: 1.6vw;
    letter-spacing: -.06em;
    line-height: 1.2em;
    margin-bottom: 1em
}

.main #d6-1 .fragment h3,
.main #d6-2 .fragment h3 {
    font-size: 2.2vw;
    letter-spacing: -.06em;
    line-height: 1.2em;
    text-transform: uppercase
}

.main #d6-1 .fragment h4,
.main #d6-2 .fragment h4 {
    font-size: 1.3vw;
    letter-spacing: -.06em;
    line-height: 1.2em
}

.main #d6-1 .fragment p,
.main #d6-2 .fragment p {
    font-size: 1vw;
    letter-spacing: -.06em;
    line-height: 1.2em;
    margin: 1em 0
}

.main #d6-1 .fragment ul,
.main #d6-2 .fragment ul {
    font-size: 1vw;
    letter-spacing: -.06em;
    line-height: 1.2em;
    list-style: none;
    margin: 0;
    padding: 0
}

.main #d6-1 .fragment ul li,
.main #d6-2 .fragment ul li {
    margin: 1em 0;
    padding: 0
}

.main #d6-1 .fragment ul li strong,
.main #d6-2 .fragment ul li strong {
    display: block;
    text-transform: uppercase;
    text-decoration: underline
}

.main #d6-1 .fragment ul.simple li,
.main #d6-2 .fragment ul.simple li {
    margin: 0.3em 0
}

.main #d6-1 .fragment div.content {
    flex-direction: row
}

.main #d6-1 .fragment div.column::before {
    display: block;
    content: '';
    margin-bottom: .2em;
    width: 8em;
    height: .45em;
    background-color: #000
}

.main #d6-2 .fragment div.content {
    flex-direction: column
}

.main #d6-2 .fragment p {
    text-align: justify
}

.main #d7 .fragment {
    color: red;
    background-color: rgba(0, 0, 0, 0);
    width: 100%
}

.main #d7 .fragment .glide,
.main #d7 .fragment .glide__fake {
    position: relative;
    margin: 0
}

.main #d7 .fragment .glide .glide__slide,
.main #d7 .fragment .glide__fake .glide__slide {
    box-sizing: border-box;
    height: auto;
    min-height: 86vh;
    padding: 8vh 5vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%
}

.main #d7 .fragment .glide .glide__arrows,
.main #d7 .fragment .glide__fake .glide__arrows {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    cursor: pointer
}

.main #d7 .fragment .glide .glide__arrows>div,
.main #d7 .fragment .glide__fake .glide__arrows>div {
    width: 10vw
}

.main #d7 .fragment .glide .glide__arrows>div:last-child,
.main #d7 .fragment .glide__fake .glide__arrows>div:last-child {
    transform: rotate(180deg)
}

.main #d7 .fragment ul {
    margin: 0;
    padding: 0
}

.main #d7 .fragment .title {
    background-color: #393291;
    display: flex;
    align-items: center
}

.main #d7 .fragment .title h2 {
    flex: 1;
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 0em;
    line-height: 1em
}

.main #d7 .fragment .section {
    background-color: #d3d3d3;
    display: flex;
    align-items: center
}

.main #d7 .fragment .section div {
    flex: 1;
    padding-right: 1.33vw;
    border-right: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}

.main #d7 .fragment .section p {
    flex: 2;
    padding-left: 1.3vw;
    padding-right: 10vw;
    text-align: justify;
    font-size: 1.5vw;
    letter-spacing: 0em;
    line-height: 1.3em
}

.main #d7 .fragment .section p.notitle {
    border-left: 1px solid red
}

.main #d7 .fragment .section h3,
.main #d7 .fragment .section h4 {
    text-transform: uppercase;
    text-align: end;
    font-size: 2.5vw;
    letter-spacing: 0em;
    line-height: 1.3em
}

.main #d7 .fragment .content {
    background-color: #d3d3d3
}

.main #d7 .fragment .video {
    position: relative;
    padding: 70vh 0 0 0;
    max-height: 100%
}

.main #d7 .fragment .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.main #d7 .fragment .video-wrapper {
    position: relative;
    opacity: 0.7
}

.main #d7 .fragment .video-wrapper.playing {
    opacity: 1
}

.main #d7 .fragment .video-wrapper.playing::after {
    opacity: 0
}

.main #d7 .fragment .video-wrapper::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    content: '►';
    color: #d3d3d3;
    font-size: 10vw;
    letter-spacing: 0em;
    line-height: 1em
}

.main #d7 .fragment .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.main #d7 .fragment .image {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

.main #d7 .fragment .columns {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap
}

.main #d7 .fragment .columns.two>div {
    flex-basis: 49%
}

.main #d7 .fragment .columns.three>div {
    flex-basis: 32%
}

.main #d7 .fragment .columns.bytwo>div {
    margin-bottom: 1vw
}

.main #d7 .fragment .password {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(57, 50, 145, 0.7);
    text-align: center
}

.main #d7 .fragment .password h2 {
    color: #fff;
    text-transform: uppercase
}

.main #d7 .fragment .password ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center
}

.main #d7 .fragment .password ul li {
    flex: 1;
    list-style: none;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 3vw;
    letter-spacing: -.06em;
    line-height: 1.2em;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    user-select: none
}

.main #d7 .fragment .password ul li:active {
    opacity: 0.7
}

.main #d8 .fragment {
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    width: 71vw;
    padding: 22vh 17.5vw;
    max-width: 100%;
    font-size: 4vw;
    letter-spacing: -.08em;
    line-height: 1em
}

.main #d8 .fragment strong {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    font-weight: normal;
    position: relative
}

.main #d8 .fragment strong:before {
    content: '';
    display: block;
    background-color: #000;
    z-index: -1;
    position: absolute;
    top: .25em;
    right: -.15em;
    bottom: .05em;
    left: -.07em
}

.main #d9 .fragment {
    color: #000;
    background-color: #f1d8d8;
    box-sizing: border-box;
    width: 80vw;
    padding: 10vh 0vw;
    max-width: 100%
}

.main #d9 .fragment p {
    text-align: center;
    font-size: 4vw;
    letter-spacing: -.08em;
    line-height: 1em;
    margin-bottom: 1em
}

.main #d9 .fragment p span {
    display: block;
    font-size: 1vw;
    letter-spacing: -.08em;
    line-height: 1em;
    margin-block-start: 0.8em
}

.main #d9 .fragment p:last-child {
    margin-bottom: 0
}

.main #d10 .fragment {
    color: #000;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 65vw;
    padding: 13vh 6vw;
    max-width: 100%;
    display: flex
}

.main #d10 .fragment>div {
    flex: 1
}

.main #d10 .fragment>div h2 {
    font-size: 4.2vw;
    letter-spacing: -.06em;
    line-height: 1.05em;
    position: relative;
    top: -0.2em
}

.main #d10 .fragment>div p {
    font-size: .95vw;
    letter-spacing: -.04em;
    line-height: 1.2em;
    margin-bottom: 1em
}

.main #d10 .fragment>div h3 {
    font-size: 1.2vw;
    letter-spacing: -.04em;
    line-height: 1.2em;
    margin-block-start: 2em;
    text-align: end
}

.main #d11 .fragment {
    color: #fff;
    background-color: #000;
    box-sizing: border-box;
    width: 44vw;
    padding: 21vh 0vw;
    max-width: 100%
}

.main #d11 .fragment h2 {
    position: relative;
    font-size: 7.4vw;
    letter-spacing: -.06em;
    line-height: 1em;
    text-align: center
}

.main #d11 .fragment .hand {
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 39vw;
    padding: 0vh 0vw;
    max-width: 100%;
    opacity: 0.7;
    filter: invert(100%)
}

.main #d12 .fragment {
    color: #fff;
    background-color: #000;
    width: 100vw;
    height: 70vh
}

.main #d12 .fragment .bg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative
}

.main #d12 .fragment .bg::before {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    content: 'Hello';
    color: #202020;
    font-size: 45vw;
    letter-spacing: -.08em;
    line-height: 1em
}

.main #d12 .fragment .brand,
.main #d12 .fragment .card {
    position: absolute;
    height: 42.5vh;
    width: 42vw;
    padding-block-start: 1vh;
    padding-block-end: 1vh
}

.main #d12 .fragment .brand {
    top: -5vh;
    left: 15vw;
    background-color: blue
}

.main #d12 .fragment .brand p {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 7vw;
    letter-spacing: -.06em;
    line-height: .8em;
    text-align: start;
    color: #fff
}

.main #d12 .fragment .brand p span {
    display: block;
    position: relative
}

.main #d12 .fragment .brand p sup {
    position: absolute;
    font-size: 18%;
    letter-spacing: 0em;
    top: 0.1em;
    right: 0;
    line-height: 1em
}

.main #d12 .fragment .brand p a {
    text-decoration: none
}

.main #d12 .fragment .card {
    right: 15vw;
    bottom: -5vh;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column
}

.main #d12 .fragment .card .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center
}

.main #d12 .fragment .card .content h1,
.main #d12 .fragment .card .content h2,
.main #d12 .fragment .card .content p {
    font-size: 1vw;
    letter-spacing: -.06em;
    line-height: 1em;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center
}

.main #d12 .fragment .card .content h1 {
    font-size: 3vw;
    letter-spacing: -.06em;
    line-height: 1em
}

.main #d12 .fragment .card .content h1 span {
    position: relative
}

.main #d12 .fragment .card .content h1 sup {
    position: absolute;
    font-size: 20%;
    letter-spacing: 0;
    top: 0.8em;
    right: 0;
    line-height: 1em
}

.main #d12 .fragment .card .content h2 {
    font-size: 2vw;
    letter-spacing: -.06em;
    line-height: 1em
}

.main #d12 .fragment .card .content .description {
    font-size: .8vw;
    letter-spacing: -.06em;
    line-height: .8em;
    margin-inline-start: 5em;
    margin-inline-end: 5em
}

.main #d12 .fragment .card .content .planet img {
    height: 2em;
    width: 7rem
}